:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selectors {
  float: left;
  margin: 5px;
}

.center {
  align-items: center;
  padding: 70px 0;
  border: 1px solid #5c34eb;
}

.centretop {
  align-items: center;
  display: flex;
}

