<div>
  <mat-form-field appearance="fill" color='primary' class='selectors'>
    <mat-label>Account Type *</mat-label>
    <mat-select (selectionChange)="changeAccount($event.value)">
      <mat-option *ngFor="let account of accounts" [value]="account.value">
        {{account.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color='primary' class='selectors'>
    <mat-label>Number of Individuals *</mat-label>
    <mat-select (selectionChange)="changeNumber($event.value)">
      <mat-option *ngFor="let number of numbers" [value]="number.value">
        {{number.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<hr>
<div class='centertop'>
  <div *ngFor="let item of [].constructor(this.personNumber); let i = index" class='center'>
    <div>
      <p>Person {{i+1}}</p>
      <mat-radio-group>
        <mat-radio-button value="mr">Mr</mat-radio-button>
        <mat-radio-button value="mrs">Mrs</mat-radio-button>
        <mat-radio-button value="miss">Miss</mat-radio-button>
        <mat-radio-button value="ms">Ms</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field appearance="fill" color='primary' class='selectors'>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" value="">
      </mat-form-field>
      <mat-form-field appearance="fill" color='primary' class='selectors'>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" value="">
      </mat-form-field>
      <mat-form-field appearance="fill" color='primary' class='selectors'>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div>
  <div *ngIf="this.account==='personal'">
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Account Name</mat-label>
      <input matInput placeholder="Account Name" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Account Holder First Name</mat-label>
      <input matInput placeholder="Account Holder First Name" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Account Holder Last Name</mat-label>
      <input matInput placeholder="Account Holder Last Name" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>TFN</mat-label>
      <input matInput placeholder="TFN" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Bank Account No.</mat-label>
      <input matInput placeholder="Bank Account No." value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Bank Account BSB</mat-label>
      <input matInput placeholder="Bank Account BSB" value="">
    </mat-form-field>
  </div>
  <div *ngIf="this.account==='corporate'">
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Account Name</mat-label>
      <input matInput placeholder="Account Name" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="Company Name" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>ABN</mat-label>
      <input matInput placeholder="ABN" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Bank Account No.</mat-label>
      <input matInput placeholder="Bank Account No." value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Bank Account BSB</mat-label>
      <input matInput placeholder="Bank Account BSB" value="">
    </mat-form-field>
    <mat-form-field appearance="fill" color='primary' class='selectors'>
      <mat-label>Number of Company Officers</mat-label>
      <mat-select (selectionChange)="changeCompanyNumber($event.value)">
        <mat-option *ngFor="let number of companyNumbers" [value]="number.value">
          {{number.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr>
<div class='centertop' *ngIf="this.account==='corporate'">
  <div *ngFor="let item of [].constructor(this.companyNumber); let i = index" class='center'>
    <div>
      <p>Company Officer {{i+1}}</p>
      <mat-radio-group>
        <mat-radio-button value="mr">Mr</mat-radio-button>
        <mat-radio-button value="mrs">Mrs</mat-radio-button>
        <mat-radio-button value="miss">Miss</mat-radio-button>
        <mat-radio-button value="ms">Ms</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field appearance="fill" color='primary' class='selectors'>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" value="">
      </mat-form-field>
      <mat-form-field appearance="fill" color='primary' class='selectors'>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" value="">
      </mat-form-field>
    </div>
  </div>
</div>
